body{
    margin:0;
    padding:0;
    font-family:'Times New Roman', Times, serif,sans-serif;
    background:white;
}

.container{
    width:400px;
    margin:60px auto;
    background:#D3D3D3;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

h1{
    text-align:center;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #ccc;
    box-sizing:border-box;
}

.buttons{
    display:flex;
    gap:10px;
    margin-top:20px;
}

button{
    flex:1;
    padding:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#8B008B;
    color:white;
}

button:hover{
    background:#FFF0F5;
}

.result{
    margin-top:20px;
    padding:15px;
    background:#DDA0DD;
    border-radius:8px;
    text-align:center;
    display:none;
}